{% extends "base.html" %}

{% block items %}
{% if user %}
<h2>All Items</h2>
{% ifnotequal items|length 0 %}
<table class="gtl-table" cellpadding="10">
<tr><th>ID</th><th>Serial No.</th><th>IMEI</th></th><th>Type</th><th>Dev. Name</th><th>Google account</th><th>Project</th><th>Borrower</th><th>Borrower's email</th></tr>
{% for item in items %}
<tr><td>
{% if admin %} 
  <a href="modify_item.html?id={{item.higid}}">{{item.higid}}</a>
{% else %}
  {{item.higid}}
{% endif %}
</td>
	<td>{{item.serial}}</td>
	<td>{{item.imei}}</td>
	<td>{{item.higtype}}</td>
	<td>{{item.name}}</td>
	<td>{{item.google_account}}</td>

	<td>{{item.project}}</td>
	<td>{{item.borrower}}</td>
	<td>{{item.borrower_email}}</td>
</tr>
{% endfor %}
</table>
{% endifnotequal %}
</div>
{% endif %}
{% endblock %}
