{% extends "base.html" %}

{% block items %}
	{% if user %}
		{% ifnotequal items|length 0 %}
			{% for project in projects %}
        			<h3>{{project}}</h3>
        			<table class="gtl-table" cellpadding="10">
        			{% include "fragments/table_headers_gear.html" %}
        			{% for item in items %}
                			{% ifequal item.project project %}
                                {% include "fragments/table_row_gear.html" %}
                			{% endifequal %}
        				{% endfor %}
        			</table>
			{% endfor %}
		{% endifnotequal %}
	{% endif %}
{% endblock %}
