<tr>

    <td>
    {% if admin %} 
        <a href="/modify_item.html?id={{item.higid}}">{{item.higid}}</a>
    {% else %}
        {{item.higid}}
    {% endif %}
    </td>

    <td>{{item.serial}}</td>
    <td>{{item.higtype}}</td>
    <td>{{item.name}}</td>
    <td>{{item.google_account}}</td>
    <td>{{item.project}}</td>
    <td>{{item.borrower}}</td>
    <td>{{item.borrower_email}}</td>
</tr>